<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.baidu.mapper.UserMapper">
    <insert id="insertUserRole" parameterType="integer">
        insert into t_user_role values (null,#{userId},#{roleId});
    </insert>
    <delete id="deleteUserRoleById" parameterType="java.lang.Integer">
        delete from t_user_role where user_id = #{userId}
    </delete>

    <select id="getRole" resultType="java.lang.String" parameterType="string">
        select role.role_name from user,role,t_user_role
        where user.id = t_user_role.user_id
          and role.id = t_user_role.role_id
          and user.username = #{username};
    </select>

    <select id="getAllUserRole" resultType="java.util.Map">
        select
            user.id,
            user.username,
            date_format(user.createtime, '%Y-%m-%d %H:%i:%s') createtime,
            role.role_name roleName
        from user
                 left join t_user_role on user.id = t_user_role.user_id
                 left join role on role.id = t_user_role.role_id
    </select>

</mapper>